# last_verified: 2026-07-23 · MLflow

# PostgreSQL
MLFLOW_DB_NAME=mlflow
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=mlflow

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MLFLOW_BUCKET_NAME=mlflow

# MLflow Tracking Server
MLFLOW_TRACKING_URI=http://localhost:5000
